
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

main {
    flex: 1;
}

/*
Task list styling
*/
ul {
    list-style: none;
    padding: 0;
}

#group-list .group-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

#group-list .group-task-count {
    font-size: 0.85em;
    font-weight: normal;
}

/*
Options window styling
*/

#clicked-task-description {
    white-space: pre-wrap;  /*preserve line breaks as HTML collapses into single space otherwise*/
}

/*
Style pop up box
*/
dialog {
    width: 90%;
    max-width: 400px;
    padding: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  backdrop-filter: blur(4px);            /* Blurs underlying content */
}

/*
Footer Styling
*/
footer {
    padding: 1rem;
}
  
/*
Search icon styling
*/
.icon-btn {
    background: none;
    border: 0;
    padding: 0.4rem;
    line-height: 0;
}
.icon-btn svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
    color:black;
}